nav {
    position: relative;
    width: 400px;
    height: 60px;
}
.container:hover .outline .rect {
    transition: 999999s;
    stroke-dashoffset: 1;
    stroke-dasharray: 0;
}
.container {
    position: absolute;
    inset: 0;
    background: #bef6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}